#heading {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom:1px gray solid;
	background: white;
}

#heading-message {
	position: relative;
	float: left;
	top: 0px;
	left: 25px;
}

#heading-cart {
	position: relative;
	float: right;
	top: 0px;
	right: 25px;
}